services:
  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "5173:3000"
    depends_on:
      - backend
    restart: always

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
    restart: always
